*{
    padding: 0;
    margin: 0;
}

input{
    display: none;
}

label {
    display: block;
}

.tabcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width:400px;
    border-radius: 10px;
    background:#fff;
}

input{
    display:none;
}

label {
    display:inline-block;
    padding:10px 20px;
    background:#9a7dab;
    color:#fff;
    border-radius: 10px;
    cursor:pointer;
}

input:checked + label {
    background:#fff;
    color:#9a7dab;
    border: 1px solid #9a7dab;
}
.content-box {
    display:none;
    margin-top:10px;
    padding:10px;
    width:340px;
    height:250px;
    font-size:30px;
    box-sizing:border-box;
    border-radius:10px;
    text-align:center;
    background: #efe6f4;
    color:#666;
}

#tabmenu01:checked~.content01,
#tabmenu02:checked~.content02,
#tabmenu03:checked~.content03{
    display: block;
}